@model List<croupe_06_TournoiGolf.Models.Tournoi>

<h1>Liste des Tournois</h1>

<a href="/Tournoi/Create">Créer un tournoi</a>
<br /><br />

<table border="1">
    <tr>
        <th>Nom</th>
        <th>Date</th>
        <th>Lieu</th>
        <th>Inscriptions</th>
        <th>Actions</th>
    </tr>
    
    @foreach (var tournoi in Model)
    {
        <tr>
            <td>@tournoi.Nom</td>
            <td>@tournoi.DateTournoi.ToShortDateString()</td>
            <td>@tournoi.Lieu</td>
            <td>
                @if (tournoi.InscriptionsOuvertes)
                {
                    <span style="color:green;">Ouvertes</span>
                }
                else
                {
                    <span style="color:red;">Fermées</span>
                }
            </td>
            <td>
                @if (tournoi.InscriptionsOuvertes)
                {
                    <form action="/Tournoi/FermerInscriptions" method="post">
                        <input type="hidden" name="id" value="@tournoi.Id" />
                        <button type="submit">Fermer</button>
                    </form>
                }
                else
                {
                    <form action="/Tournoi/OuvrirInscriptions" method="post">
                        <input type="hidden" name="id" value="@tournoi.Id" />
                        <button type="submit">Ouvrir</button>
                    </form>
                }
            </td>
        </tr>
    }
</table>